language: shell
notifications:
  email: false
addons:
  apt:
    packages: octave liboctave-dev libopenblas-dev
    update: true
  homebrew:
    packages: octave
jobs:
  include:
    - os: linux
      dist: bionic
      language: matlab
      script: matlab -batch 'cd examples; test_sedumi(1, 1);'
    - os: linux
      dist: xenial # 16.04 LTS, Octave 4.0.0
      script: octave --eval "cd examples; test_sedumi(1, 1);"
    - os: linux
      dist: bionic # 18.04 LTS, Octave 4.2.2
      script: octave --eval "cd examples; test_sedumi(1, 1);"
    - os: linux
      dist: bionic # 18.04 LTS, Octave 5.2.0 (snap)
      before_install:
      - sudo apt-get -y install snapd
      - sudo snap install octave
      script: snap run octave --eval "cd examples; test_sedumi(1, 1);"
    - os: linux
      dist: bionic # 18.04 LTS, Octave 6.1.0 (flatpak)
      before_install:
      - sudo apt-get -y install flatpak
      - flatpak remote-add --user --if-not-exists
                flathub https://flathub.org/repo/flathub.flatpakrepo
      - flatpak install --user -y flathub org.octave.Octave
      script:
      - flatpak run org.octave.Octave --eval "cd examples; test_sedumi(1, 1);"
    - os: osx
      # Need macOS version, see
      # https://travis-ci.community/t/macos-build-fails-because-of-homebrew-bundle-unknown-command/7296/28
      osx_image: xcode12
      script: octave --eval "cd examples; test_sedumi(1, 1);"
    - os: windows
      before_install: choco install octave.portable
      script: octave-cli.exe --eval "cd examples; test_sedumi(1, 1);"
